body {
    background-color: #f0f8ff;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
}

.clear-btn {
    grid-column: span 4;
    background-color: #ff6347;
    color: white;
}
